<h2><%= @folder.name %></h2>

<p>
  Back to
  <%= link(
    @folder.artist.username,
    to: Routes.artist_path(@conn, :show, @folder.artist.username)) %>
</p>

<%= unless Enum.empty? @folder.works do %>
  Works:
  <ul>
    <%= for work <- @folder.works do %>
      <li>
        <img
          src="<%= Routes.work_thumb_path(@conn, :thumb, work.id) %>"
          alt="<%= work.title %>" />
        <%= link("Original", to: work.file_url) %>
      </li>
    <% end %>
  </ul>
<% end %>
